@media (min-width: 576px) and (max-width: 767.98px)
{

  .custom-row
  {
    
    height: 100%;
    
  }
  .custom-container
  {
  
    margin-top: 47.5%;
    margin-bottom: 10%;
  }
  .custom-row p
  {
    padding-top: 5%;
    text-align: center;
    font-size: 1.09rem;
  }
  .custom-card
  {
  top: 30%;
  height: 95%;
  border-radius: 0 0 30px 30px;
  box-shadow: 0px 17px 5px 7px rgba(0,0,0,0.13);
  margin-bottom: 10%;
  }
  .card-horizontal
    {
        display: inline-flex;
    }
}
