.agenda-more, a {
    background-color:transparent;
    color:#000000;
    cursor:pointer;
    text-decoration:underline;
    white-space:nowrap
   }
   .agenda-more:visited, a:visited {
    background-color:transparent;
    color:#000000;
    cursor:pointer;
    text-decoration:underline;
    white-space:nowrap
   }
   .agenda-more:hover,.agenda-more:active, a:hover, a:active,.agenda-more:hover,.agenda-more:active, a:hover, a:active {
    background-color:transparent;
    color:#808080;
    cursor:pointer;
    text-decoration:underline;
    white-space:nowrap
   }
   .view-cap,.view-container-border {
    background-color:#f5f5f5
   }
   .agenda .date-label {
    font-weight:bold;
    background:#e0e0e0;
    position:relative
   }